* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    margin: 5vh;
}

h1 {
    text-align: center;
    font-size: clamp(40px, 4rem, 80px);
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(40, 119, 206, 1) 21%, rgba(79, 255, 87, 1) 40%, rgba(252, 253, 44, 1) 61%, rgba(252, 69, 69, 1) 81%, rgba(252, 69, 165, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    margin: 5vh auto;
    width: clamp(300px, 50%, 900px);
}

ol {
    list-style: number;
    font-size: 1.2rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    padding: 2%;
}

.item__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}